asgiref==3.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
coreapi==2.3.3
coreschema==0.0.4
Django==4.2.30
django-cors-headers==4.7.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
drf-social-oauth2==3.1.0
idna==3.5
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.1
oauthlib==3.3.1
PyJWT==2.10.1
pytz==2025.2
requests==2.32.4
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.3
uritemplate==4.1.1
urllib3==2.5.0